<div class="container">

    <div class="row pt-5">
        <div class="col-xs-12 col-md-6 mx-auto">
       <div class="card">

              <h5 class="card-header">Register</h5>
              <div class="card-body">
                <form #form01 class="form" [formGroup]="options" (ngSubmit)="RegisterUser()">
                  <div class="example-container">
                    <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
                      <input matInput placeholder="First name "   [formControl]="Firstname" #input maxlength="10" required>
                      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                      <mat-error *ngIf="Firstname.invalid">You must enter min 4 character and max 10</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="example-container">
                    <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
                      <input matInput placeholder="Last name" [formControl]="Lastname" required>
                      <mat-error *ngIf="Lastname.invalid">You must enter min 5 character</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="Enter your email" [formControl]="email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                  </div>

                  <button type="submit" class="btn btn-primary float-right">Register</button>

                </form>

              </div>

         </div>
         </div>
     </div>
</div>
